.sample {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ul {
    display: flex;
    background-color: #F0ECEA;
    padding-left: 0;
}

li {
    list-style: none;
    margin: 8px;
    padding: 4px;
}

.part-1 li {
    width: 100px;
}

/*part-2 li {
    height: 100px;
}*/
.part-1 li,
.part-2 li {
    min-height: 100px;
    background-color: #8CACEA;
}

.dir-row {
    flex-direction: row;
}

.dir-col {
    flex-direction: column;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.reverse {
    flex-wrap: wrap-reverse;
}

.flow {
    flex-flow: row-reverse wrap-reverse;
}

.just-start {
    justify-content: flex-start;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.just-between {
    justify-content: space-between;
}

.just-around {
    justify-content: space-around;
}

.tall {
    height: 300px;
}

.wrap.tall {
    height: 400px;
}

/*.tall li {
    height: auto;
    min-height: 0;
}*/
.align-items-stretch {
    align-items: stretch;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.limit-1024 {
    max-width: 1024px;
    margin: 0 auto;
}

.align-cnt-stretch {
    align-content: stretch;
}

.align-cnt-start {
    align-content: flex-start;
}

.align-cnt-end {
    align-content: flex-end;
}

.align-cnt-center {
    align-content: center;
}

.chapter {
    background-color: #8E6E63;
    color: #F0ECEA;
    padding: 20px;
    text-align: center;
}

.order-1 li {
    min-width: 100px;
}

.order-1 li:nth-child(1) {
    order: 1;
}

.grow-1 {
    flex-grow: 1;
}

.basis-1 li {
    flex-basis: auto;
}

.basis-1 .fixed-width {
    flex-basis: 150px;
}

.sub-topic {
    margin-left: 20px;
}

.basis-4-1 li {
    flex: 0 1 auto;
}

.basis-4-2 li {
    flex: 0 0 auto;
}

.basis-4-3 li {
    flex: 1 1 auto;
}

.basis-4-4 li:nth-child(1) {
    flex: 2 1 0;
}

.basis-4-4 li:nth-child(2) {
    flex: 1 1 0;
}

.basis-4-5 li:first-of-type {
    align-self: flex-end;
}

.basis-4-5 li:nth-child(2) {
    align-self: center;
}

.basis-4-5 li:nth-child(3) {
    align-self: flex-start;
}

.absolute-and-relative li {
    margin: 2em;
}

.relative li {
    flex: auto;
}

.absolute li {
    flex: 1;
}

[class*='auto-margin'] li {
    flex: 0 0 auto;
    min-height: 0;
}

.auto-margin-1 li:nth-child(1) {
    margin-right: auto;
}

.auto-margin-2 li:nth-child(1) {
    margin-left: auto;
    margin-right: auto;
}

.exercises li {
    background: transparent;
}

.bootstrap-nav {
    background-color: #8CACEA;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.ex-bootstrap {
    align-items: center;
    background: transparent;
    margin-bottom: 0;
}

.ex-bootstrap li:nth-child(1) {
    margin-right: auto;
}

.header-bottom {
    display: block;
    padding: 15px 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 1em;
    text-decoration: none;
}

.header-bottom:hover {
    background-color: #0269C2;
}

.bootstrap-container {
    margin: 0 auto;
}

.nav-top-background {
    background: #FFFFFF;
}

@media (min-width: 768px) {
    .bootstrap-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .bootstrap-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .bootstrap-container {
        width: 1170px;
    }
}

.airbnb-nav {
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.airbnb-nav ul,
.twitter-nav ul {
    background-color: transparent;
    align-items: center;
}

.airbnb-nav li {
    min-height: 0;
}

.airbnb-logo {
    width: 29px;
    height: 37px;
}

.auto-margin-5 li:nth-child(5) {
    margin-right: auto;
    margin-left: auto;
}

.twitter-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #66757F;
    font-weight: 500;
}

.twitter-nav ul {
    position: relative;
}

.twitter-nav .new:before {
    content: "\25CF";
    font-size: 14px;
    left: 5px;
    position: absolute;
    top: 10px;
    color: #0084B4;
}

.twitter-nav .current-link {
    border-bottom: 2px solid #1b95e0;
    transition: all .15s ease-in-out;
}

.twitter-nav .page-link {
    margin: 0;
    padding: 0;
}

.page-link a {
    margin: 8px;
    padding: 4px;
}

.twitter-nav .page-link:hover {
    border-bottom: 2px solid #1b95e0;
    color: #1B95E0;
    transition: all .1s ease-in-out;
}

.twitter-nav .nav-label {
    font-size: 13px;
}

.twitter-nav i {
    font-size: 21px;
    vertical-align: -2px;
}

.twitter-nav .is-primary i {
    vertical-align: -3px;
}

.twitter-nav form {
    position: relative;
    width: 221px;
}

.twitter-search {
    width: 100%;
    height: 32px;
    padding: 5px 27px 6px 12px;
    font-size: 12px;
    color: #292F33;
    background-color: #F5F8FA;
    border: 1px solid #E1E8ED;
    border-radius: 21px;
    outline: none;
    box-shadow: none !important;
    transition: all .2s ease-in-out;
}

.twitter-search:focus {
    background-color: #fff;
}

.twitter-search-icon {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #66757F;
    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
}

.twitter-search-icon i {
    font-size: 13px;
}

.twitter-nav .avatar {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.twitter-user {
    margin-bottom: 5px;
}

a.button {
    cursor: pointer;
    text-decoration: none;
    transition-duration: 86ms;
    transition-timing-function: ease-out;
    transition-delay: initial;
    transition-property: none;
}

a.button:hover {
    color: rgb(54, 54, 54);
}

.button {
    -webkit-appearance: none;
    border-radius: 3px;
    box-shadow: none;
    user-select: none;
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    color: rgb(54, 54, 54);
    cursor: pointer;
    padding: 0.3em 0.813em 0.5em 0.875em;
    white-space: nowrap;
}

.button.is-primary {
    background: rgba(0, 132, 180, 0.8);
    border-color: transparent;
    color: rgb(255, 255, 255);
}

.is-primary i {
    margin-right: 5px;
}

.button-label {
    font-size: 13px;
}
